
.container-fluid {

}


.row {
	border:4px;
	border-color:#FF0004;
	margin:12px;

}





.col-12 {

background-color:#000;
min-height: 320px;

}

.col-4 {
background-color:#4BA8CE;
min-height:320px;

}

