@font-face{
        font-family:"Futura LT W01 Book";
        src:url("../fonts/1475798/cf053eae-ba1f-44f3-940c-a34b68ccbbdf.eot?#iefix");
        src:url("../fonts/1475798/cf053eae-ba1f-44f3-940c-a34b68ccbbdf.eot?#iefix") format("eot"),url("../fonts/1475798/8bf38806-3423-4080-b38f-d08542f7e4ac.woff2") format("woff2"),url("../fonts/1475798/e2b9cbeb-fa8e-41cd-8a6a-46044b29ba52.woff") format("woff"),url("../fonts/1475798/c2a69697-4f06-4764-abd4-625031a84e31.ttf") format("truetype");
    }
    @font-face{
        font-family:"Futura LT W01 Bold";
        src:url("../fonts/1475822/87f56fc1-ab05-4355-90af-9e83740663af.eot?#iefix");
        src:url("../fonts/1475822/87f56fc1-ab05-4355-90af-9e83740663af.eot?#iefix") format("eot"),url("../fonts/1475822/3cf9e1e8-63a2-497f-86ed-6b63d6de1986.woff2") format("woff2"),url("../fonts/1475822/184895ac-545b-450b-9d3a-c0a0a7620977.woff") format("woff"),url("../fonts/1475822/bf8628d2-1ae0-4645-ba3f-3ce62d8d907c.ttf") format("truetype");
    }
	    @font-face{
        font-family:"Futura LT W01 Heavy";
        src:url("../fonts/1475846/752e3189-96d5-4999-8ae7-c435a470461b.eot?#iefix");
        src:url("../fonts/1475846/752e3189-96d5-4999-8ae7-c435a470461b.eot?#iefix") format("eot"),url("../fonts/1475846/f3fa9288-dc04-4f75-b949-b06584863c9c.woff2") format("woff2"),url("../fonts/1475846/6b1bbd38-7556-4809-a151-88182a37116e.woff") format("woff"),url("../fonts/1475846/1f56887e-52d4-4229-b219-513cbef3ff58.ttf") format("truetype");
    }
