[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
platformshconfig = '*'
redis = "*"
pymysql = "*"
flask = "*"
gevent = "*"
elasticsearch = "*"
pymongo = "*"
influxdb = "*"
pymemcache = "*"
pysolr = "*"
pika = "*"
psycopg2-binary ='*'
solrpy = '*'
examples = {path = "."}
kafka-python = "*"

[requires]
python_version = "3.8"

[dev-packages]
