<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Platform.sh Java service examples</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/highlightjs.css">
    <link rel="stylesheet" href="/css/default.css">
</head>
<body data-gr-c-s-loaded="true" cz-shortcut-listen="true">
<h1>Service examples for Java</h1>

<tr th:each="code: ${codes}">
    <details>
        <summary> [[${code.name}]] Sample Code</summary>
        <section>
            <h3>Source</h3>
            <pre>
                <code class="java" th:text="${code.source}">
            </code>
            </pre>
        </section>
        <section>
            <h3>Output</h3>
            <pre>
                <code class="bash" th:text="${code.output}">
            </code>
            </pre>
        </section>
    </details>
</tr>
<script src="/js/highlight.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
